apiVersion: k3d.io/v1alpha5
kind: Simple
metadata:
  name: p3
servers: 1
agents: 1
image: docker.io/rancher/k3s:v1.31.5-k3s1
ports:
  - port: 8080:{{ argocd_pod_port}}
    nodeFilters:
      - loadbalancer
  - port: 30081:{{ gitlab_pod_port}}
    nodeFilters:
      - loadbalancer