apiVersion: v1
kind: Service
metadata:
  name: gitea-nodeport
  namespace: gitlab
spec:
  type: NodePort
  selector:
    app.kubernetes.io/name: gitea
  ports:
    - port: 3000
      targetPort: 3000
      nodePort: {{ gitea_node_port }}
---
apiVersion: v1
kind: Service
metadata:
  name: argocd-server-nodeport
  namespace: argocd
spec:
  type: NodePort
  selector:
    app.kubernetes.io/name: argocd-server
  ports:
    - port: 443
      targetPort: 8080
      nodePort: {{ argocd_node_port }}
---
apiVersion: v1
kind: Service
metadata:
  name: wil-app-nodeport
  namespace: dev
spec:
  type: NodePort
  selector:
    app: wil-app
  ports:
    - port: 80
      targetPort: 80
      nodePort: 30090